.container {
    background-color: #EFEFEF;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.searchContainer {
    background-color: yellowgreen;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bodyOfTheContent {
    background-color: powderblue;
    width: 100%;
    display: flex;
}

.disclaimerContainer {
    background-color: darkseagreen;
    width: 100%;
}

.leftSection {
    background-color: bisque;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection {
    background-color: burlywood;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}