.container {
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.searchContainer {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyOfTheContent {
    background-color: powderblue;
    width: 100%;
    display: flex;
}

.disclaimerContainer {
    background-color: darkseagreen;
    width: 100%;
}

.leftSection {
    background-color: bisque;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSection {
    background-color: burlywood;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}